.header {
  width: 100%;
  position: fixed;
  background-color: #222;
  transition: all 0.7s ease;
  border-bottom: 1px solid #4e4e4e;
  top: 0;
  .container {
    .top {
      height: 1.5rem;

      img {
        height: 1rem;
        display: inline-block;
        padding: 0.2rem 0.2rem 0.2rem 0.4rem;
        float: left;
      }

      i {
        background: none;
        color: #fff;
        font-size: 0.7rem;
      }

      button {
        background: none;
        border: none;
        float: left;
        height: 1rem;
        margin: 0.2rem;
      }

      input {
        margin: 0.2rem;
        line-height: 1.5rem;
        height: 1rem;
        float: left;
        background: none;
        border: none;
      }
    }

    .navbar {
      ul {
        li {
          color: #fff;
          display: inline-block;
          height: 1.5rem;
          width: 2.5rem;
          text-align: center;

          span {
            position: relative;
            padding: 0.2rem;
            display: inline-block;
            float: left;
          }

          i {
            position: relative;
            top: 0.85rem;
            height: 0.5rem;
            left: 0.7rem;
            width: 0.5rem;
            font-size: 0.5rem;
            display: inline-block;
            float: left;
          }
        }
      }
    }
  }
}
