.SlideActor{

}.item {
  height: 0.7rem;
  line-height: 0.7rem;
  width: 1rem;
  padding: 0 0.3rem;
  margin: 0.1rem;
  text-align: center;
  background-color: rgba(254, 122, 148, 0.1);
  display: inline-block;
  padding: 0 0.13333rem;
  font-size: 0.25rem;
  color: #FE7A94;
  border-radius: 0.05333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.01333rem solid rgba(254, 122, 148, 0.2);
  white-space: nowrap;
}

.active {
  color: #FE7A94;
}

.actors-container {
  margin-top: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .act-item {
    width: 25%;
    margin-bottom: 0.2rem;
    text-align: center;
  }
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  width: max-content;
}

.el-tag--danger {
  margin: 0 0.1rem;
  height: 0.7rem;
  line-height: 0.7rem;
  width: 0.7rem;
  text-align: center;
}
