.container{
  position: absolute;
  top: .2rem;
  bottom: .8rem;
  width: 100%;
  height: calc(100% - .8rem);
  font-size: .2rem;
}
#Main {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #666;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 微软雅黑;
}

a {
  text-decoration: none;
      cursor: pointer;
}

input {
  outline: none;
}

li {
  list-style: none;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  display: block;
}
